name: Trigger Netlify Build
on:
  schedule:
    # Run at 0830 2 times per month
    - cron: '30 8 1,18 * *'
jobs:
  build:
    name: Request Netlify Webhook
    runs-on: ubuntu-latest
    steps:
      - name: Curl request
        run: curl -X POST -d {} https://api.netlify.com/build_hooks/5f36b2be593f441289feffe2